body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;

}

* {
  margin: 0; padding: 0
}

/* Blue Puzzability Header  */
#container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#header {
  background-color: #3969C6;
  height: 60px;
  width: 100%;
  text-align: center; 
  padding-top: 1.2%;
}

#body {
    height: 100%;
    width: 100%;
}​

#footer {
  background-color: #3969C6;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  height: 8px;
  bottom: 0;
}


#footerIndex {
  border-top: white solid 0.5px;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  height: 5px;
  bottom: 0;
}

.banner {
  text-align: center;
  position: relative;
  padding: 20px;
  margin-top: 5px;
  font-size: 26px;
  font-weight: 300px;
}




nav ul {
  background-color: #333333;
  overflow: hidden;
  color: white;
  text-align: center;
  margin: 0;


}

nav ul li {
  display: inline-block;
  text-align: center;
    padding: 1% 0;
    text-decoration: none;
    width: 24%;
    max-width: 100%;
    color: white;
    font-size: 19px;
}

nav ul li:hover {
  background-color: white;
  color: #3969C6;
}

@media screen and (max-width:775px) {
   nav a {
       max-width: 100%;
       padding: 0px 5px 0px 5px;
       float: none;
       text-align: center;
       display: block;
   }

   nav ul li {
  	display: inline-block;
  	text-align: center;
    padding: 1% 0;
    text-decoration: none;
    width: 40%;
    max-width: 100%;
    color: white;
    font-size: 19px;
}

table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  font-size: 18px;
  width: 20%;
  max-width: 100%;
  padding: 1.5% 0%;
}

td img {
  display: none;
}

}


/* Index Slogan and Logo Individually */
.slogan {
  color: white;

  text-align: center;
  font-size: 28px;
  max-width: 100%;

  font-weight: lighter;
  z-index: 2;
}

.logo {
  max-width: 100%;
  width: 15%;

}


.logo-slogan {
  text-align: center;
  color: white;
  margin: 9% 9%;
  position: absolute;
  width: 80%;
}



.logo-slogan img {
  display: block;
  width: 15%;
  max-width: 100%;
  z-index: 1;
  margin: 0 auto;
}

.backbutton {
  position: fixed;
  max-width: 5%;
  max-height: 5%;
  left: 4%;
  top: 18%;
}





table {
  text-align: center;
  margin: 0 12%;
  border-collapse: collapse;
}

td {
  font-size: 18px;
  width: 15%;
  max-width: 70%;
  padding: 1.5% 0%;
}

td img {
  max-width: 100%;
  width: 70%;
  height: auto;
  padding: 0 15%;
}

tr { 
  border: solid #D1D1D0;
  border-width: 0.6px 0;
}




.containerNews {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.containerNews img {
  height: auto;
  width: 17%;
  max-width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 2%;
  min-width: 11%;
}


.containerNews h2 {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin: auto;
  max-width: 100%;
  width: 70%;
  margin-bottom: 1%;
}

.containerNews p {
  max-width: 100%;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.6em;
}



.whatIsText {
  max-width: 70%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.6em;
}

.containerWhatIcons {
  max-width: 100%;
  margin-left: 0%;
  text-align: center;
  margin-bottom: 5%; 
}

.containerWhatIcons img {
  max-width: 100%;
  height: auto;
    min-width: 0.1%;
    height: auto;
}




.whoIs h2 {
  padding-bottom: 1%;
}


#footer {
  background-color: #3969C6;
  color: white;
  max-width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  clear: both;
  padding: 1.5% 0%;
}
